@model Task_Management_System.Controllers.DTO.ProjectDto
@using Task_Management_System.Models.Enum

<form action="/Project/index" method="post">
    <div class="col-md-12">
        <label>Title</label>
        <input type="text" name="Title" class="form-control" value="@Model.Title" readonly />
    </div>
    <div class="col-md-12">
        <label>Description</label>
        <textarea name="Description" class="form-control" readonly>@Model.Description</textarea>
    </div>
    <div class="col-md-12">
        <label>StartDate</label>
        <input name="StartDate" class="form-control" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" readonly />
    </div>
    <div class="col-md-12">
        <label>EndDate</label>
        <input name="EndDate" class="form-control" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" readonly />
    </div>
    <div class="col-md-12">
        <label>Project Status</label>
        <select name="Status" asp-items="Html.GetEnumSelectList<ProjectStatus>()" class="form-control" readonly></select>
    </div>
    <br />
    <div class="form-control">
        <label>Team Names</label>
        <br />
        @foreach (var item in Model.Teams)
        {
            <div>
                <input type="checkbox" checked name="TeamIds" value="@item.TeamId" readonly />
                <label>@item.Name</label>
            </div>
        }


    </div>
    <button type="submit" class="btn btn-primary mt-2"><meta charset="utf-8" />Close</button>
</form>
