@model Task_Management_System.Controllers.DTO.ProjectDto
@using Task_Management_System.Models.Enum

<form action="/Project/Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="col-md-12">
        <label>Title</label>
        <input type="text" name="Title" class="form-control" value="@Model.Title" />
    </div>
    <div class="col-md-12">
        <label>Description</label>
        <textarea name="Description" class="form-control">@Model.Description</textarea>
    </div>
    <div class="col-md-12">
        <label>StartDate</label>
        <input name="StartDate" class="form-control" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="col-md-12">
        <label>EndDate</label>
        <input name="EndDate" class="form-control" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="col-md-12">
        <label>Project Status</label>
        <select name="Status" class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<ProjectStatus>()">
        </select>
    </div>



    <br />
    <div class="form-control">
        <label>Team Names</label>
        <br />
        @foreach (var item in Model.Teams)
        {
            <div>
                <input type="checkbox" name="TeamIds" value="@item.TeamId" @(item.IsSelected ? "checked" : "") />
                <label>@item.Name</label>
            </div>
        }


    </div>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
